<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/css/main.css">
		<script src="/js/libs/jquery/dist/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/libs/raphael/raphael.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/libs/json2/json2.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="/js/raphael.sketchpad.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/libs/angular/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/libs/angular-ui-router/release/angular-ui-router.js" type="text/javascript" charset="utf-8"></script>
		<script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-app="collabDraw">
		<div class="container" class="row" ui-view="">
			
		</div>
	</body>
</html>